.multi-select-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .dropdown-header {
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dropdown-arrow {
    margin-left: 10px;
  }
  
  .dropdown-list {
    position: absolute;
    z-index: 1;
    background-color: #F5FEFD;
    border-radius: 25px;
    border: 1px solid black;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .dropdown-item {
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .selected-options {
    margin-top: 10px;
  }
  
  .selected-option {
    display: inline-block;
    margin-right: 10px;
    background-color: #e0e0e0;
    padding: 5px 10px;
    border-radius: 4px;
  }
  